<html>
<%- include include/client.ejs %>
<body>
<div class="chat_window">
    <div class="top_menu">
        <div class="title">Online</div>
    </div>
    <div class="container">
    <div id="userFormArea" class="row">
        <div class="col-md-6">
            <form id="userForm">
                <div class="form-group"><br>
                    <p class="text-muted p">Please fill out the form below to start chatting with the next available agent.</p><br>
                    <input type="Text" class="form-control"  id="username" placeholder="Enter Name" required><br>
                    <input type="text" class="form-control"  id="email" placeholder="Enter Email" required><br>
                    <input type="button" id="submitBtn" class="btn btn-primary" value="Start Chat">
                </div>
            </form>
        </div>
    </div>
    </div>
</div>
<script type="text/javascript" src="/javascripts/home.js"></script>
</body>
</html>