<head>
    <script src="/socket.io/socket.io.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap.min.css">
    <script type="text/javascript" src="/javascripts/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="/javascripts/bootstrap.min.js"></script>
    
    <link rel="stylesheet" type="text/css" href="/stylesheets/style1.css">
    
    
    <title>Chat App</title>
</head>
<style>
    #msg{
           display: none;
    }
    #userFormArea{
        margin-top: 30px;
        margin-left: 160px;
    }
    #username,#email,#submitBtn{
        width: 110%;
        
    }
    .p{
        font-size: 14px;
    }
           
</style>